@page
@model Managingtasks.Pages.Tasks.EditModel

<h1>Edit Task</h1>

<form method="post">

    <input type="hidden" asp-for="Task.Id" />

    <div>
        <label>Title</label>
        <input asp-for="Task.Title" />
    </div>

    <div>
        <label>Description</label>
        <textarea asp-for="Task.Description"></textarea>
    </div>

    <div>
        <label>Status</label>

        <select asp-for="Task.Status">
            <option value="ToDo">ToDo</option>
            <option value="InProgress">InProgress</option>
            <option value="Done">Done</option>
        </select>
    </div>

    <button type="submit">
        Save
    </button>

</form>